.customLayout{
    :global {
        .ant-layout{
            background: #f0f2f5;
        }
    }
}

.testEquip {
    position: relative;
    bottom: 0;
    right: 0;
}

.backgroundCustom{
    background-color: #f3f3f3;
}