.topTitle {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    span {
        color: #076fd6;
    }
    margin-bottom: 0.25rem;
    font-size: 14px;
}
.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    color: #076fd6;
    font-size: 18px;
}

.key {
    font-weight: 700;
}
.content {
    font-weight: 700;
    color: #076fd6;
}