.title-rating {
    text-align: center;
    h3 {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 0;
    }
    span {
        font-size: 13px;
        text-align: center;
        font-style: italic;
    }
}

.info {
    strong {
        color: #076fd6;
        font-size: 15px;
    }
}

.btn-cancel, .btn-rating {
    border-radius: 10px;
}

.thankyou {
    color: #36b37e;
    font-style: italic;
    a {
        color: #36b37e;
        font-weight: bold;
        padding-left: 2.5px;
    }
}