.sticky {
    position: fixed;
    left: 0px;
    width: 100%;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    background: #f7f7f7;
}

.float-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
    padding-right: 5rem;
}

.btn-checkout {
    padding: 0 16px;
    height: 48px;
    font-size: 1rem;
    font-weight: 500;
    > span {
        vertical-align: 0;
    }
}
.container-price {
    display: flex;
    justify-content: center;
    margin-right: 1rem;
    .wrapper-price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .count-items {
        color: #6d6e70;
        font-size: 0.75rem;
        font-weight: 700;
        line-height: 20px;
    }
    .total-price {
        color: #4a4a4a;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 20px;
        word-break: break-word;
    }
}
