.courseCard {
    border-radius: 0.75rem;
}
.img-fluid {
    width: 100px;
}

.course-title {
    font-size: 1rem;
}

.active {
    background-color: rgba(0,191,189,.04);
    border: 1px solid #00bfbd;
}