.wrapChangePassword {
    margin: 20px auto;
    max-width: 700px;
    background-color: #fff;
    border-radius: 15px;
}
.title {
    position: relative;
    padding-left: 24px;
    padding-top: 24px;
    font-size: 24px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: left;
    color: #0356d2;
    
}
.title::before {
    content: "";
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: 5px;
    height: 15px;
    background-color: #066fd6;
    border-bottom: 1px solid #dbdbdb;
}
.formChangePassWord {
    padding: 40px 25px;
    
}
.formChangePassWord .btnButtonForm {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fafafc;
    
    padding: 13px 37px 10px 38px;
    height: auto;
}
@media screen and (min-width: 375px) and (max-width: 425px) {
    .formChangePassWord .btnButtonForm {
        padding: 6.4px 40px;
    }
}