.register-form-button {
    width: 100%;
    color: #fff;
    border-color: #1FC974;
    background: #1FC974;
    border-radius: 5px;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    height: auto;
}

.changeTypeText {
    margin: 16px 0;
    text-align: center;
    color: #8c8c8c;
    span {
        margin-left: 0.5rem;
        color: #4d4d4d;
        font-weight: 500;
        font-size: 14px;
    }
}

.register-form__select-location {
    font-size: 16px;
}

.register-form {
    font-family: 'Calibri';
}
.signupTT {
    color: #1890ff;
}
